<h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
<div class="base-form-container">
    <img src="/images/site/icon.png" alt="Company brand logo">
    <h2>Log in to your account</h2>
    <form class="base-form" action="/account/login" method="post">
        <label for="account_email">Email</label>
        <input 
            type="email" 
            id="account_email"
            placeholder="Enter your email" 
            name="account_email" 
            required
            value="<%= locals.account_email %>"
        >
        <label for="account_password">Password</label>
        <div class="password-wrapper">
            <input 
                type="password" 
                id="account_password"
                placeholder="Enter your password" 
                name="account_password" 
                required
            >
            <span id="togglePassword" class="toggle-password">Show</span>
        </div>     
        <button type="submit">Login</button>
    </form>
    <p class="register-link">
        Don't have an account?
        <a href="/account/register">Register here</a>
    </p>
</div>
