<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App - Analina Nielsen</p>
  <p><a href="/error/test-error">Error 500 Link</a></p>
</footer>