<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>
    <meta name="description" content="CSE 340 App - Constructing dynamic web sites using server-side languages, making use of databases and design patterns">
    <meta name="author" content="Analina Nielsen">

    <meta property="og:title" content="CSE 340 App">
    <meta property="og:description" content="CSE 340 App - Constructing dynamic web sites using server-side languages, making use of databases and design patterns">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cse340-analina.onrender.com/images/vehicles/mystery-van.jpg">
    <meta property="og:url" content="https://cse340-analina.onrender.com/">

    <link rel="icon" type="image/png" href="/images/site/favicon-32x32.png">

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>