<section id="hero">
    <h1 class="hero-title">Welcome to CSE Motors!</h1>
    <img src="/images/vehicles/delorean.jpg" alt="Delorean vehicle" class="hero-image">
    <div class="hero-box">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders <br>Superman doors <br>Fuzzy dice!</p>
        <button class="hero-btn">Own Today</button>
    </div>
</section>