<h1><%= title %></h1>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="form-container">
    <p class="required-msg">FIELD IS REQUIRED.</p>
    <form action="/inv/add-classification" method="post" class="classification-form">

        <label for="classification_name">Classification Name</label>

        <p class="input-rules">NAME MUST BE 3-25 ALPHABETIC CHARACTERS ONLY.</p>

        <input 
            type="text" 
            id="classification_name" 
            name="classification_name" 
            required
            pattern="^[A-Za-z]{3,25}$"
            title="Only alphabetic characters, 3-25 letters"
            value="<%= classification_name %>"
        >

        <button type="submit">Add Classification</button>
    </form>
</div>