<h1><%= title %></h1>

<%- messages() %>

<div class="base-form-container">
    <img src="/images/site/icon.png" alt="Company brand logo">
    <h2>Review Submitted</h2>

    <p>Your review has been successfully saved.</p>

    <a class="base-btn" href="/reviews/view-my-reviews">View My Reviews</a>
    <a class="base-btn" href="/inv/detail/<%= inv_id %>">Back to Vehicle</a>
</div>